[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Adept-ML/Frontend.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/Adept-ML/Backend.git
[submodule "Preprocessing"]
	path = Preprocessing
	url = https://github.com/Adept-ML/Preprocessing.git
[submodule "Feature-Engineering"]
	path = Feature-Engineering
	url = https://github.com/Adept-ML/Feature-Engineering.git
[submodule "Anomaly-Detection"]
	path = Anomaly-Detection
	url = https://github.com/Adept-ML/Anomaly-Detection.git
[submodule "Explainability"]
	path = Explainability
	url = https://github.com/Adept-ML/Explainability.git
[submodule "Data-Management"]
	path = Data-Management
	url = https://github.com/Adept-ML/Data-Management.git
